.contact-us{
    font:"Raleway";
}
.container-first{
    display: block;
    background: rgb(248,248,248);
    background-repeat: repeat;
    background-size: cover;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}
.heading-one{
    font-size: 40px;
    color: rgba(0,0,0,1);
    font-weight: 300;
    font-style: normal;
    line-height: 1.2em;
    margin-top:5px;
    font-family: "Raleway-Light";
}
.heading-four{
    color:#83838c;
    line-height:1.5em;
    font-family: "Raleway-Light";
}
.section-two .form-control{
    background:rgba(225,225,225,.3);
    border:none;
    border-top:1px solid #dedede;


}
.section-two .form-control:hover{
    border-top:1px solid #ffd200;

}
.section-two .form-control:focus{
    border-color:#ffd200;
    box-shadow:none;
}
.section-two br{
    margin-top: 0.5em;
    content: ' ';
    display: block;
}
.submit-btn{
    background:rgba(255,210,0,1);
    border-color:rgba(255,210,0,1);
    color:#000;
    padding:12px 20px;
    line-height:1.5em;
    letter-spacing:2px;
    border-radius:3px;
}
.submit-btn:hover{
    background:#000;
    border-color:#000;
    color:#FFF;
}
.section-two{
    margin-bottom:35px;
    padding-top:35px;
}
.section-two h4{
    font-family: "Raleway-Bold";
    line-height: 21px;
}
.section-two p, .email-contact a{
    line-height:21px;
    font-family: "Open Sans Regular";
}
.section-two p, .email-contact a{
    padding-top:.50em;
    padding-bottom:.50em;
}
.email-contact a{
    color:#ffd200;
}
.email-contact a:hover{
    color:#ffd200;
    text-decoration:none;
}
/**css for services page*/
.services-heading h1{
    font-size:50px;
    color:#ffd200;
    line-height:54px;
    font-weight:400;
    font-style:normal;
    font-family: "Old Standard TT Regular";
}
.services-heading h5{
    font-weight:600;
    font-size:16px;
    line-height:1.5em;
    margin-bottom:35px;
    font-family: "Raleway-SemiBold";
}
.services-heading{
    padding-right:10%;
    padding-left:10%;
    padding-top:60px;
}
.all-services{
    font-size:18px;
    line-height:22px;
    color:#000;
    font-family:"Raleway-Bold";
}
.main-container{
    background:#F0F0F0;
}
.yellow-bg{
    background:#FFD200;
}
.all-services-container{
    margin-top:40px;
    margin-bottom:20px;
}
.yellow-line{
    width:40px;
    border:1px solid #ffd200;

}
.services-details{
    padding-bottom:40px;
}
.services-details h5{
    font-size:16px;
    line-height:1.5em;
    color:#000000;
    font-family:"Raleway-SemiBold";
}
.services-details>h6{
    font-weight:800;
    font-size:14px;
    line-height:1.5em;
    
}
.services-details h6 a{
    color:#ffd200;
    font-family:"Raleway-SemiBold";
}
.policy-doc{
    padding-top:40px;
    padding-bottom:40px;
}
.policy-doc .btn{ 
    border-radius: 0px; 
    color:#3c3c4a; 
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
}
.text-download{
    background:#3C3C4A;
    padding:30px;
}
.text-download h5{
    margin-top:0px;
    color:#ffd200;
    font-size:16px;
}
.btn-download{
    background:#ffd200;
}
.policy-doc a{
    text-decoration:none;
}
.building-project{
    float:left;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}
.building-project h3{
    float:left;
    width:auto;
    color:#fff;
    font-family: "Raleway-Bold";
    font-size: 26px;
    line-height: 39px;
        
}
.building-project .btn-getQuote{
    float:right;
    background:transparent;
    border:2px solid #fff;
    color:#fff;
    margin-top:20px;
    margin-bottom:10px;
    border-radius: 0;
    padding: 9px 12px;
    font-size:14px;
    line-height: 20px;
}
.work-chart{
    height:122px;
    position:relative;
}
.work-chart > .work-images{
    -webkit-transform:rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transition:-webkit-transform .9s ease 0s;
    transition:-moz-transform .9s ease 0s;
    transition:-o-transform .9s ease 0s;
    transition:transform .9s ease 0s;
    position:absolute;
    display:inline;
    width: 100%;
}

.work-chart > .back-side{
    width:100%;
    height:100%;
    background:#3c3c4a;
    transition:-webkit-transform .9s ease 0s;
    transition:-moz-transform .9s ease 0s;
    transition:-o-transform .9s ease 0s;
    transition:transform .9s ease 0s;
    position:absolute;
    left:0;
    top:0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;	
    -moz-backface-visibility:hidden;	
    text-align: center;    
}
@media screen and (min-width:767px){
    .work-chart:hover > .work-images{
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform:rotateY(180deg);
        transition:-webkit-transform .9s ease 0s;
        transition:-moz-transform .9s ease 0s;
        transition:-o-transform .9s ease 0s;
        transition:transform .9s ease 0s;

    }
    .work-chart:hover > .back-side{
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform:rotateY(00deg);
        transition:-webkit-transform .9s ease 0s;
        transition:-moz-transform .9s ease 0s;
        transition:-o-transform .9s ease 0s;
        transition:transform .9s ease 0s;

    }    
}

.back-side span::after{
     background-color: #fff;
    content: " ";
    display: block;
    height: 2px;
    margin: 5px auto 0;
    position: relative;
    width: 80px;
}
.back-side span{
    color:#fff;
    padding:45px 10px 5px;
    /*border-bottom:1px solid #fff;*/
    display:inline-block;
}
.pdf:before{
    content: "\e36e";
    font-size: 128px;
    line-height: 128px;
    /* width: 128px; */
    /* height: 128px; */
    position: absolute;
    top: 50%;
    margin-top: -64px;
    left: 50%;
    margin-left: -64px;
}   
.contact-form input, .contact-form textarea {font-family: "Open Sans"; letter-spacing: 2px;}

/**css end for services page*/
/**media query start*/
@media only screen and (max-width: 767px){
    .work-chart{min-height: 222px; margin-bottom: 5px;}
    .all-services-container {margin-top:0;}
    .building-project .btn-getQuote {float: left;}
    .building-project h3 {font-size: 18px; line-height:22px;}
    .services-heading h1 {font-size:22px; line-height: 30px;}
}
@media only screen and (max-width: 470px){
    .container-first{
        padding-left:10px;
        padding-right:10px;
    }
    .heading-one{
        font-size:26px;

    }

    .container{
        padding-left:0px;
        padding-right:0px;
    }
    .section-two{
        padding-right:10px;
        padding-left:10px;
    }
}